/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #333;
  padding: 0%;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width:140px;
  /* padding-left: 20px; */
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width:135px;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: rgb(70, 69, 69);
  color: white;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: fixed;
  left: 63%;
  background-color: rgb(56, 56, 56);
  width: 14.5%;
  z-index: 1;
  margin-right: 0;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  text-decoration: none;
  width: 100%;

}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #595959;
  color: rgb(255, 255, 255);
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}
/* CSS styles for NFT Upload form */

/* Basic styling for the form */
#uploadForm {
  display: flex;
  flex-direction: column;
  max-width: 600px; /* Adjust the max-width as desired */
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Styling for the input fields */
input[type="file"],
input[type="text"],
input[type="number"]
 {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%; /* Set the width to 100% */
}

/* Styling for the button */
button {
  padding: 10px 20px;
  background-color: #2e2e2e; /* Grayish color */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000000; /* Darker gray on hover */
  color:white;
}

/* Styling for the IPFS URL display */
#ipfsUrl {
  margin-top: 20px;
}

/* Animation for textboxes and button on hover */
input[type="text"]:hover,
input[type="number"]:hover,
button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Additional animations for textboxes and button */
input[type="text"],
input[type="number"],
button {
  transition: transform 0.3s ease;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
button:hover {
  transform: scale(1.05);
}

/* Styling for the image preview */
#imagePreview {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 200px;
  overflow: hidden;
}

#imagePreview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.nft-image-container {
  width: 219px; /* Adjust the value to your desired size */
  height: 20px; /* Adjust the value to your desired size */
}

.nft-card-template {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.634);
}