/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #333;
  padding: 0%;
}

/* Navigation links */
.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 140px;
}

/* The subnavigation menu */
.subnav {
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 135px;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: rgb(70, 69, 69);
  color: white;
}

/* Style the subnav content - positioned fixed */
.subnav-content {
  display: none;
  position: fixed;
  left: auto;
  background-color: #383838;
  width: auto;
  z-index: 2; /* Increased z-index value */
}

/* Style the subnav links */
.subnav-content a {
  color: white;
  padding: 10px 16px; /* Adjust the padding as needed for your desired height */
  text-decoration: none;
  display: block; /* Ensure each link takes up the full width of the container */
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #595959;
  color: rgb(255, 255, 255);
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

/* CSS styles for NFT Upload form */

/* Basic styling for the form */
#uploadForm {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  /* Adjust the max-width as desired */
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Styling for the input fields */
input[type="file"],
input[type="text"],
input[type="number"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  /* Set the width to 100% */
}

/* Styling for the button */
button {
  padding: 10px 20px;
  background-color: #2e2e2e;
  /* Grayish color */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#connect-button {
  background-color: white;
  color: black;
  margin-right: 10px;
}

button:hover {
  background-color: #000000;
  /* Darker gray on hover */
  color: white;
}

/* Styling for the IPFS URL display */
#ipfsUrl {
  margin-top: 20px;
}

/* Animation for textboxes and button on hover */
input[type="text"]:hover,
input[type="number"]:hover,
button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Additional animations for textboxes and button */
input[type="text"],
input[type="number"],
button {
  transition: transform 0.3s ease;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
button:hover {
  transform: scale(1.05);
}

/* Styling for the image preview in Create NFT Page Form*/
#imagePreview {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 200px;
  overflow: hidden;
}

#imagePreview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.nft-card {
  max-width: 760px;
  box-shadow: 0 0 6px 2px #383838;
}

.tooltip-inner {
  white-space: nowrap;
  max-width: none;
}

.btn-tooltip {
  all: unset;
  padding: 9px 9px;
  width: 7.5px;
  height: 7px;
  position: relative;
  top: -3px;
  border-radius: 25px;
  background-image: url("information.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-tooltip:hover, .btn-close:hover {
  transition: none;
  background-color: initial;
  box-shadow: none;
  transform: none;
}

#noNftMsg {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  padding-left: 42%;
  padding-top: 20%;
}